@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

img {
    display: block;
    width: 100%;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
    background: var(--Light-gray);
}

.container {
    margin-top: 7em;
    max-width: 375px;
    padding: 1em;
    background: var(--White);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
   .qr-code {
    margin-bottom: 1em;
    img {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        }
   }
   .content {
    margin: 1em 0;
    h2 {
        margin: 1em 0;
        text-align: center;
        color: var(--Dark-blue);
    }
    p {
        margin-bottom: 2em;
        text-align: center;
        color: var(--Grayish-blue);
        line-height: 1.5;
    }
   }
}


.attribution {
    font-size: 1.1rem;
    text-align: center;
}